<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button class="backButton" (click)="this.backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="this.speak()">
       <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{nota.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>
    <h3 style="padding: 10px;" >{{nota.texto}}</h3>
  </ion-label>
</ion-content>