<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'tab2.titulo' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" 
      formControlName="title"
      placeholder="{{'tab2.placeholder1' | translate}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea
      formControlName="description"
      placeholder="{{'tab2.placeholder2' | translate}}"
      autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button 
      class="boton"
      shape="round"
      type="submit"
      [disabled]="!tasks.valid">{{'tab2.boton' | translate}}</ion-button>
  </div>
  </form>
</ion-content>
