/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root{
    .dark-theme{
      //Formato Texto
      .tituloApp{
        text-align: center;
        font-family: My Titlte App Custom Font;
        font-size: 500%;
      }

      //Formato Botones
        .botonLogin{
          text-align: center;
        }

      //Color para el texto
        --ion-text-color: rgb(255, 255, 255);
        .tBlanco{
          color: rgb(255, 255, 255);
        }

      //Color para el fondo
        --ion-background-color: rgb(53, 52, 52);

      //Color Botones
        .boton{
          --background: #470081;
          color:rgb(255, 255, 255);
        }

      //Color iconos
        .swipeIcon{
          color: #ba56ce;
        }

        .backButton{
          color:rgb(255, 255, 255);
        }

      //Toolbar
       --ion-toolbar-background:#470081;
       --ion-toolbar-border-color: #32005a;
       --ion-toolbar-color: rgb(255, 255, 255);

       ion-toolbar{
         text-align: center;
         font-family: My App Custom Font;
       }

      //TabBar
        --ion-tab-bar-background:#470081;
        --ion-tab-bar-border-color:#32005a;
        --ion-tab-bar-color-selected: #ba56ce;
        --ion-tab-bar-color: rgb(255, 255, 255);
    }

    .light-theme{
      //Formato Texto
      .tituloApp{
        text-align: center;
        font-family: My Titlte App Custom Font;
        font-size: 500%;
      }

      //Formato Botones
        .botonLogin{
          text-align: center;
        }

      //Color para el texto
        --ion-text-color: rgb(0, 0, 0);
        .tBlanco{
          color: rgb(0, 0, 0);
        }

      //Color para el fondo
        --ion-background-color: rgb(255, 255, 255);

      //Color Botones
        .boton{
          --background: #ffa600;
          color:rgb(0, 0, 0);
        }

      //Color iconos
        .swipeIcon{
          color: #ffa600;
        }

        .backButton{
          color:rgb(0, 0, 0);
        }

      //Toolbar
       --ion-toolbar-background:#e04141;
       --ion-toolbar-border-color: #b63535;
       --ion-toolbar-color: rgb(0,0,0);

       ion-toolbar{
         text-align: center;
         font-family: My App Custom Font;
       }

      //TabBar
        --ion-tab-bar-background:#e04141;
        --ion-tab-bar-border-color:#b63535;
        --ion-tab-bar-color-selected: #000000;
        --ion-tab-bar-color: rgb(0, 0, 0);
    }

    //Tema por defecto
    .tituloApp{
      text-align: center;
      font-family: My Titlte App Custom Font;
      font-size: 500%;
    }

    //Formato Botones
      .botonLogin{
        text-align: center;
      }

    //Color para el texto
      --ion-text-color: rgb(0, 0, 0);
      .tBlanco{
        color: rgb(0, 0, 0);
      }

    //Color para el fondo
      --ion-background-color: rgb(190, 144, 216);

    //Color Botones
      .boton{
        --background: #3699aa;
        color:rgb(0, 0, 0);
      }

    //Color iconos
      .swipeIcon{
        color: #000000;
      }

      .backButton{
        color:rgb(0, 0, 0);
      }

    //Toolbar
     --ion-toolbar-background:rgb(105, 62, 129);
     --ion-toolbar-border-color: rgb(66, 40, 82);
     --ion-toolbar-color: rgb(0,0,0);

     ion-toolbar{
       text-align: center;
       font-family: My App Custom Font;
     }

    //TabBar
      --ion-tab-bar-background:rgb(105, 62, 129);
      --ion-tab-bar-border-color:rgb(66, 40, 82);
      --ion-tab-bar-color-selected: #000000;
      --ion-tab-bar-color: rgb(0, 0, 0);
  }

@font-face {
    font-family: 'My App Custom Font';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/appFonts/app.ttf');
  }

  @font-face {
    font-family: 'My Titlte App Custom Font';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/appFonts/Adventure.ttf');
  }
